
* {box-sizing: border-box}
body {background:radial-gradient(circle,rgba(1,13,77,1)5%,rgba(7,0,19,1)97%);color:#3fdcf8;font-family:Georgia, 'Times New Roman', Times, serif;text-align: center; text-transform: uppercase;}
.header {color:rgb(253,7,241); padding:2rem; border-bottom: .25rem solid #2602aa;}
.gallery {display: flex; flex-direction: row; 
    flex-wrap: wrap; align-items: center;
    justify-content: center; gap:16; max-width: 87.5rem;margin: 0 auto; padding: 1.25rem .625rem;}
.gallery image {width: 65%; max-width: 75%vw; 
    height: 18.75rem; object-fit: cover;}
a {color:rgb(253, 7, 241);}
a:visited{color:rgb(213, 12, 253);}
a:hover, a:active {color:#3fdcf8;}

