* {box-sizing: border-box}
body {background:linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,
    rgb(207,42,186) 45%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
    width: auto; height: auto;
    margin: 0;
            padding:0;color:#2602aa;font-family:Georgia, 'Times New Roman', Times, serif;text-align: center;}
h1 {color:#2602aa; padding:2rem; }
image {width: 65%; max-width: 75%vw; 
    height: 18.75rem; object-fit: cover;display: flex; flex-direction: row; 
    flex-wrap: wrap; align-items: center;
    justify-content: center; gap:16; margin: 0 auto; padding: 1.25rem .625rem;}
a {color:rgb(1, 13, 66);}
a:visited{color:rgb(64, 2, 77);}
a:hover, a:active {color:#3fdcf8;}
ul {display: flex; flex-direction: column; 
    flex-wrap: wrap; align-items: center;}