* {background: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,
    rgb(207,42,186) 45%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);}
body{
    h1 {font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: italic;
    font-variant: normal; font-weight: 700; line-height: 27.5px; } 
    h3 { font-family: "Century Gothic", CenturyGothic,
    AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height:
    15.4px; } 
    p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 12px; font-style:
    normal; font-variant: normal; font-weight: 400; line-height: 17.1429px;} 
    blockquote { font-family: "CenturyGothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal;
    font-weight: 700; line-height: 30px; } 
    pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
    }

.container{position: relative; width:650px; height: fit-content;margin: auto;}
.container .box{
        position: relative;
        background-color: radial-gradient(circle,rgba(52,49,49,1)0%,rgba(45,44,44,1)0%,rgba(0,3,6,1)100%);
        
    }
    
a{color:#f735c7;}
a:visited{color:#d2c4fb;}
a:hover{color:#08fbcb;}
