* {box-sizing: border-box}
body {background-color:#2f0975;color:#c0c0c0}
.header {text-align: center; text-transform: uppercase; padding: 2rem; border-bottom: .25rem solid #c0c0c0;}
.gallery {display: flex; flex-direction: row; 
    flex-wrap: wrap; align-items: center;
    justify-content: center; gap:16; max-width: 87.5rem;margin: 0 auto; padding: 1.25rem .625rem;}
.gallery image {width: 100%; max-width 21.875rem; 
    height: 18.75rem; object-fit: cover;
    border-radius: .625rem;}
.gallery::after {content:""; width: 21.875rem;}
